---
import BaseLayout from '../layout/baseLayout.astro';
import '../styles/global.css';

const pageTitle = "Over mij";

const identity = {
  firstName: "Seijno",
  country: "Nederland",
  occupation: "Frontend-Programmer & Designer",
  hobbies: ["Drummen", "Sporten", "Gamen"]
};

const happy = true;
const finished = false;

const skills = ["HTML", "CSS", "JavaScript", "Svelte", "Astro", "Muziek schrijven"];
---
<BaseLayout pageTitle={pageTitle}>
    <p>Deze pagina bestaat om mijn ILW blogs te posten en meer.</p>
    <p>Ik ben {identity.firstName} van Nieuwkoop, ik ben een {identity.occupation}</p>
    <p>De skills waar ik over beschik zijn:
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
    </p>
    <p>Mijn favoriete hobbie is {identity.hobbies[0]}.</p>
    {happy && <p>Ik word blij van muziek maken!</p>}
    {finished && <p>Ik ben klaar met de oefening</p>}
</BaseLayout>

<style>
    p{
        color: white;
    }
</style>