---
import BaseLayout from '../layout/baseLayout.astro'
import Card from '../components/Card.astro'
import Button from '../components/ToggleBtn.astro';
import NotificationBtn from "../components/notificationBtn.astro"

import { getCollection } from 'astro:content';

const sprints = await getCollection('sprints');
const wlwPosts = await getCollection('WLW');

const posts = import.meta.glob('/src/content/sprints/*.md', { eager: true });

const pageTitle = "I Love Web"
---
<script
      src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"
      integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
      crossorigin="anonymous"
      defer>
</script>
<Button></Button>
<NotificationBtn />
<BaseLayout pageTitle={pageTitle}>
  <content class="sprintPosts active">
    <canvas id="gl-canvas"></canvas>
    <h2>Sprint posts</h2>
    {sprints.map((post) => (
      <Card
        url={`/sprints/${post.slug}`}
        blogName={post.data.title}
        pubDate={post.data.pubDate}
      />
    ))}
  </content>
  <content class="WLWPosts">
    <h2>WLW aantekeningen</h2>
    {wlwPosts.map((post) => (
      <Card
        url={`/WLW/${post.slug}`}
        blogName={post.data.title}
        pubDate={post.data.pubDate}
      />
    ))}
  </content>
</BaseLayout>
<script>
  import "../scripts/filter.js";
  import "../scripts/light.js"
</script>

<style>
  content{
    display: none;
    padding: 12rem 0;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

  }
  .active{
    display: flex;
  }
  h2{
    text-align: center;
    width: 100%;
    color: black;
  }
  canvas{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  @view-transition {
      navigation: auto;
    }
</style>
