---
import BaseLayout from '../layout/baseLayout.astro'
import Card from '../components/Card.astro'
const pageTitle = "I Love Web"
const Posts = await Astro.glob('./posts/sprints/*.md');
const WLW = await Astro.glob('./posts/WLW/*.md');
---
<BaseLayout pageTitle={pageTitle}>
  <content class="sprintPosts active">
    <h2>Sprint posts</h2>
    {Posts.map((post) => <Card url={post.url} blogName={post.frontmatter.title} pubDate={post.frontmatter.pubDate}/>)}
  </content>
  <content class="WLWPosts">
    <h2>WLW aantekeningen</h2>
    {WLW.map((post) => <Card url={post.url} blogName={post.frontmatter.title} pubDate={post.frontmatter.pubDate}/>)}
  </content>
</BaseLayout>
<script>
  import "../scripts/filter.js";
</script>

<style>
  content{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

  }
  .active{
    display: flex;
  }
  h2{
    text-align: center;
    width: 100%;
  }
  @view-transition {
      navigation: auto;
    }
</style>
